<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>

            <h1>
                <%= subreddit %> subreddit was not found
            </h1>


            </html>