<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequatur porro corrupti sequi recusandae
        excepturi, ipsam saepe voluptas deserunt. Ex, unde! Ex quod possimus esse, hic inventore commodi veniam minus.
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima cum commodi fugiat, ut odio placeat esse iusto
        laboriosam sed quae illo. Fugit, quos facere placeat nam repellendus consequuntur amet dignissimos.
        Repellendus suscipit iusto inventore deleniti, temporibus quaerat adipisci eligendi placeat explicabo vitae
        fugiat. Velit, aperiam cum pariatur nisi autem facere explicabo quaerat vitae tempora natus? Dolorem dolore
        dicta perspiciatis reprehenderit.</p>
</body>

</html>